{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<!-- Heading -->
	<div id="heading">
		<h1>Organization {{ organization }} Inventory</h1>
	</div>

<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="content">

				<!-- Elements -->
					<div class="row">
						<div class="col-12 col-12-medium">

							<a href="{{ url_for('static', filename='excel/Customer Inventory.xlsx') }}">Export to Excel</a>

							<div class="table-wrapper">
								<table>
									<tr>
										<th>MAC</th>
										<th>Serial</th>
										<th>Model</th>
										<th>Public IP</th>
										<th>Name</th>
									</tr>
									{% for device in inventory %}
										<tr>
											<td>{{ device['mac'] }}</td>
											<td>{{ device['serial'] }}</td>
											<td>{{ device['model'] }}</td>
											<td>{{ device['publicIp'] }}</td>
											<td>{{ device['name'] }}</td>
										</tr>
									{% endfor %}
								</table>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>

{% endblock %}