{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
	<h1>Organization {{organization}} Networks</h1>
	<a href="{{ url_for('static', filename='excel/Customer Networks.xlsx') }}">Export to Excel</a>
	<br>
	<br>
	<table>
		<tr>
			<th>Network ID</th>
			<th>Name</th>
			<th>Time Zone</th>
			<th>Tags</th>
			<th>Type</th>
		</tr>
		{% for network in networks %}
			<tr>
				<td>{{ network['id'] }}</td>
				<td>{{ network['name'] }}</td>
				<td>{{ network['timeZone'] }}</td>
				<td>{{ network['tags'] }}</td>
				<td>{{ network['type'] }}</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}