{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
	<h1>Hello and welcome!</h1>
	<p>I created this simple web app (based on Flask) to demonstrate a sliver of the functionality that the Meraki REST API offers. You can input any valid organization data you like, but the fields are auto-filled with Meraki's demo account information for ease of demonstration. Enjoy!</p>
	<p class="signature">--<a href="https://www.linkedin.com/in/jmkuchta/">John M. Kuchta</a></p>

	<h1>Customer Organizations</h1>

	<table>
		<tr>
			<th>Organization Name</th>
			<th>Organization ID</th>
			<th>Actions</th>
		</tr>

		{% for organization in organizations %}
			<tr>
				<td>{{ organization['name'] }}</td>
				<td>{{ organization['id'] }}</td>
				<td>
					<a href="/key/{{ id }}/organization/{{ organization.id }}/inventory">View Inventory</a>
					<br>
					<a href="/key/{{ id }}/organization/{{ organization.id }}/networks">View Networks</a>
				</td>
			</tr>
		{% endfor %}

	</table>

</div>
{% endblock %}