{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<!-- Heading -->
	<div id="heading">
		<h1>Organizations</h1>
	</div>

<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="content">

			<!-- Elements -->
				<div class="row">
					<div class="col-12 col-12-medium">
						<div class="table-wrapper">
							<table>
								<tr>
									<th>Organization Name</th>
									<th>Organization ID</th>
									<th>Actions</th>
								</tr>

								{% for organization in organizations %}
									<tr>
										<td>{{ organization['name'] }}</td>
										<td>{{ organization['id'] }}</td>
										<td>
											<a href="/key/{{ id }}/organization/{{ organization.id }}/inventory">View Inventory</a>
											<br>
											<a href="/key/{{ id }}/organization/{{ organization.id }}/networks">View Networks</a>
										</td>
									</tr>
								{% endfor %}

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}